.banner
    .banner__img-left
    .banner__info
        .banner__info-title Bonus na prvi #[br] #[span depozit]
        ul.banner__info-list
            li.banner__info-item
                .banner__info-item-top 100%
                .banner__info-item-bottom BONUSA NA PRVI #[br] DEPOZIT do 700€
            li.banner__info-item
                img(src='img/plus.svg' alt='plus')
            li.banner__info-item
                .banner__info-item-top 30€
                .banner__info-item-bottom RISK-FREE BET
            li.banner__info-item
                img(src='img/plus.svg' alt='plus')
            li.banner__info-item
                .banner__info-item-top 200
                .banner__info-item-bottom BESPLATNIH #[br] VRTNJI
        a(href='https://www.favbet.hr/hr/register/').banner__info-btn KRENI S IGROM

    .banner__img-right








